@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: OpenSans-CondBold;
        src: url("../fonts/OpenSans-CondBold.ttf") format("truetype");
    }
    @font-face {
        font-family: OpenSans-CondLight;
        src: url("../fonts/OpenSans-CondLight.ttf") format("truetype");
    }
    @font-face {
        font-family: OpenSans-CondLightItalic;
        src: url("../fonts/OpenSans-CondLightItalic.ttf") format("truetype");
    }
  }